tn<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Picker</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    <br>
    <div class="main">
        <img src="/static/css/logo.jpg" alt="picture">      
        <form method="post">
            <button type="submit" name="action" value="redrect" class="add">add</button>
            <br>
            <div class="checkbox-group">
                <input type="radio" id="children" name="tag" value="children" class="check1">
                <label for="children">children</label>
                <input type="radio" id="parents" name="tag" value="parents" class="check2">
                <label for="parents">parents</label>
            </div>
            <br>
            <button type="submit" name="action" value="search" class="button">Pick</button>
        </form>
        {%if food%}
        <div class="final">
            <p>{{food}}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
